@model Vidly.ViewModels.SummonerViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Search RootObject</h2>

@using (Html.BeginForm("GetSummoner", "LeagueOfLegends"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Summoner.Name)
        @Html.TextBoxFor(m => m.Summoner.Name)
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}

