@model Vidly.ViewModels.SummonerViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Search RootObject</h2>

@using (Html.BeginForm("SearchRootObject", "LeagueOfLegends"))
{
    <div class="form-group">
        RootObject Name<br/>
        @Html.TextBoxFor(model => model.RootObject.Name, new {@class = "form-group"})
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}

