@model Vidly.Models.Customer

<h2>Customer</h2>
<h3>@Model.Name</h3>

<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if(!(@Model.Birthdate == null))
    {
        <li>Birthdate: @Model.Birthdate.Value.ToShortDateString()</li>
    }
</ul>